.THIS {
}

.THIS .product-image{
    width:100px;
    height:100px;
}

.THIS .text-bold{
    font-weight:bold;
    font-stretch: expanded;
    font-size: large;

}
.THIS .my-background-color{
    background: darkgrey;
}